/* body{ 
    background-color: azure;
}
h1{
    color: blue;   
}
*/ 
body {
    background-color: whitesmoke;
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 15rem;
}
 p {
    text-align: center;
    font-size: 20px;
    color: red;
    width: auto;
    margin: auto;
 }
 a {
    text-decoration: none;
    text-align: center;
    color: red;
 }
mark {
    background-color: rgb(250, 80, 18);
    color: whitesmoke;   
    line-height: 4rem;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
}
button {
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(35, 37, 35);
}
a {
    color: white;
    font-weight: 300;
    text-decoration: none;
}